Repository cta-observatory/ctapipe, pull requests merged in 2021-07, with the labels that each got.

#1408 Direction reconstruction (also) from Telescope Frame
  CODEOWNERS
  ctapipe/containers.py
  ctapipe/image/hillas.py
  ctapipe/reco/hillas_intersection.py
  ctapipe/reco/hillas_reconstructor.py
  ctapipe/reco/shower_processor.py
  ctapipe/reco/tests/test_HillasReconstructor.py
  ctapipe/reco/tests/test_reconstruction_methods.py
  ctapipe/visualization/mpl_array.py
  ctapipe/visualization/tests/test_mpl.py
  docs/bibliography.rst
  docs/tutorials/lst_analysis_bootcamp_2018.ipynb
  docs/tutorials/theta_square.ipynb
Labels: API change, data model change, ready for review, reconstruction, refactoring

#1749 Add support for calibration scale and shift in R1
  ctapipe/io/simteleventsource.py
  ctapipe/io/tests/test_simteleventsource.py
Labels: API change, calibration, new functionality, ready for review

#1757 Configurable contact information for DataWriter
  ctapipe/io/datawriter.py
  ctapipe/io/metadata.py
  ctapipe/io/tests/test_datawriter.py
  examples/stage1_config.json
Labels: IO

#1756 ctapipe-fileinfo
  ctapipe/tools/fileinfo.py
  ctapipe/tools/info.py
  ctapipe/tools/tests/test_tools.py
  ctapipe/tools/utils.py
  setup.py
Labels: new functionality, ready for review

#1426 Use indices for camera / optics lookup in `from_hdf` / `to_hdf`
  ctapipe/instrument/guess.py
  ctapipe/instrument/subarray.py
  ctapipe/instrument/telescope.py
  ctapipe/instrument/tests/test_guessing.py
  ctapipe/instrument/tests/test_subarray.py
  ctapipe/io/__init__.py
  ctapipe/io/datawriter.py
  ctapipe/io/dl1eventsource.py
  ctapipe/io/simteleventsource.py
  ctapipe/io/tests/test_simteleventsource.py
  ctapipe/tools/tests/test_tools.py
  docs/examples/InstrumentDescription.ipynb
Labels: data model change, ready for review
